<th:block th:replace="public/template::iframe(~{::body},~{::footerScript},~{::title})">
<link rel="stylesheet" th:href="@{/bower_components/select2/dist/css/select2.min.css}">
<link rel="stylesheet" th:href="@{/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}">
<title>巡检记录</title>
<body th:remove="tag">

<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">搜索条件</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <form id="searchFrm">
      <div class="form-group">
        <label>开始时间</label>

        <div class="input-group date">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <input type="text" class="form-control pull-right datepicker" name="addTime_start" th:value="${param.addTime_start}" autocomplete="off">
        </div>
      </div>
      
      <div class="form-group">
        <label>截止时间</label>

        <div class="input-group date">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <input type="text" class="form-control pull-right datepicker" name="addTime_end" th:value="${param.addTime_end}" autocomplete="off">
        </div>
      </div>
      
      <div class="form-group">
        <label>地区</label>
          <select class="form-control" name="companyId"> 
            <option value="">全部地区</option>
            <option th:each="cm:${companys}" th:value="${cm.id}" th:if="${cm.id>1}" th:selected="${param.companyId+'' == cm.id+''}">[[${cm.name}]]</option>
          </select>
      </div>
      
      <button type="submit" class="btn btn-info"><i class="fa fa-search"></i> 搜索</button>
      <a href="?" class="btn btn-default"><i class="fa fa-times"></i> 清空</a>
      
      <button type="button" class="btn btn-success" onclick="download()"><i class="fa fa-download"></i> Excel下载</button>
    </form>
  </div>
</div>

<div class="box">
            <div class="box-header">
              <span class="text-danger"></span>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table  id="example1" class="table table-striped" style="min-width:1000px">
                <thead>
                  <tr>
                    <th>地区</th>
                    <th>客户名称</th>
                    <th>客户编号</th>
                    <th>终端编号</th>
                    <th>pos编号</th>
                    <th>联系人</th>
                    <th>联系电话</th>
                    <th>地址</th>
                    <th>巡检</th>
                    <th>新增</th>
                    <th>维修</th>
                    <th>更换</th>
                  </tr>
                </thead>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
</body>
<footerScript th:remove="tag">
<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/bower_components/select2/dist/js/select2.full.min.js}"></script>

<script th:src="@{/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js}"></script>

<script th:src="@{/bower_components/moment/min/moment.min.js}"></script>

<script th:src="@{/js/pager_comm.js}"></script>
<script th:inline="javascript">
var data=$.fm.createPagerData("/inspection/totalsterminallist");
data.controllerBtn=false;
data.iDisplayLength=50;
data.setColumns([
	{"data":"diqu"},
	{"data":"name"},
	{"data":"clientNumber"},
	{"data":"number"},
	{"data":"posNumber"},
	{"data":"manager",width:70},
	{"data":"phone"},
	{"data":"address"},
	{"data":"xj",width:50},
	{"data":"xz",width:50},
	{"data":"wx",width:50},
	{"data":"gh",width:50}
]);
$(function () {
	$('.datepicker').datepicker({
		autoclose: true,
		language:  'zh-CN',
		clearBtn:true,
		todayHighlight: 1,   //高亮今日日期
		orientation:'bottom'
    });
	$('#example1').DataTable(data );
});
function download(){
	var data= $("#searchFrm").serializeArray();
	var obj = {};
	$.each(data,function(i,v){
		if(v.name){
			obj[v.name] = v.value;
		}
	});
	//$("#searchFrm").attr("action","/inspection/totals/download")
	post("/inspection/totals/download",obj);
}
function post(URL, PARAMS)
{
	console.log(PARAMS);
    var temp = document.createElement("form");
    temp.action = URL;
    temp.method = "post";
    temp.style.display = "none";
    for (var x in PARAMS)
    {
        var opt = document.createElement("textarea");
        opt.name = x;
        opt.value = PARAMS[x];
        // alert(opt.name)
        temp.appendChild(opt);
    }
    document.body.appendChild(temp);
    temp.submit();
    return temp;
} 
</script>
</footerScript>
</th:block>