<th:block th:replace="public/template::iframe(~{::body},~{::footerScript},~{::title})">
<title>终端列表</title>
<body th:remove="tag">
<div th:class="${(param.clientId!=null && !#strings.isEmpty(param.clientId) )?'hide':'box box-info'}" >
  <div class="box-header with-border">
    <h3 class="box-title">搜索条件</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <form id="searchFrm">
      <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">终端编号</div>
        <input type="text" class="form-control" name="number" th:value="${param.number}">
        <input type="hidden" name="clientId" th:value="${param.clientId}">
      </div>
      </div>
      
      <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">状态</div>
        <select name="type" class="form-control">
        	<option value="">全部</option>
        	<option th:selected="${param.type+'' eq '1'}" value="1">正常</option>
        	<option th:selected="${param.type+'' eq '2'}" value="2">已拆机</option>
        	<option th:selected="${param.type+'' eq '3'}" value="3">等待换机</option>
        </select>
      </div>
      </div>
      <button type="submit" class="btn btn-info"><i class="fa fa-search"></i> 搜索</button>
      <a href="?" class="btn btn-default"><i class="fa fa-times"></i> 清空</a>
    </form>
  </div>
</div>

<div class="box">
            <div class="box-header">
              <p class="text-danger" th:if="${session.admin.companyId<=1}">总地区的账号只能用于查看数据，要添加请使用具体地区账号</p>
              <a th:href="@{/terminal/new}" class="btn btn-info" th:if="${param.clientId==null && session.admin.companyId>1}"><i class="fa fa-plus"></i> 新增</a>
              <button type="button" class="btn btn-default" onclick="history.go(-1);" th:if="${param.clientId!=null}"><i class="fa fa-arrow-left"></i> 返回</button>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table  id="example1" class="table table-striped" style="min-width:800px">
                <thead>
                  <tr>
                    <th>终端编号</th>
                    <th>POS编号</th>
                    <th>商铺</th>
                    <th>商铺编号</th>
                    <th>联系人</th>
                    <th>地址</th>
                    <th>状态</th>
                    <th>编辑</th>
                  </tr>
                </thead>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
</body>
<footerScript th:remove="tag">
<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/js/pager_comm.js}"></script>
<script th:inline="javascript">
var data=$.fm.createPagerData([[@{/terminal/list}]]);
data.controllerBtn=false;
//data.controllerAddBtnText="<a href='/terminal/new/terminal/#id?cid=#id' title='换机'><i class='fa fa-refresh'></i></a>";
data.setColumns([
	{"data":"tNumber"},
	{"data":"posNumber"},
	{"data":"name"},
	{"data":"number"},
	{"data":"manager"},
	{"data":"address"},
	{"data":null,"width":75,"render": function (data, type, row, meta) {
		if(data.type==1){
			return "正常";
		}else if(data.type==3){
			return "等待换机";
		}else{
			return "已拆机";
		}
	}
	},
	{"data":null,"render": function (data, type, row, meta) {
		var url = [[@{/terminal}]];
		var frmid = "frm_"+data.id+"_"+meta.settings.nTable.id;
		return "<form id='"+frmid+"' method='post' action='"+url+"/delete'><input name='id' value='"+data.id+"' type='hidden'>"+
		"<a href='"+url+"/get/"+data.id+"' title='编辑'><i class='fa fa-edit'></i></a> "+
		"<a href='"+url+"/new/terminal/"+data.clientId+"?cid="+data.id+"&admin=1' title='换机'><i class='fa fa-refresh'></i></a>"+
		"<button type='button' class='btn-link' style='margin:0;padding:0' title='删除' onclick='bootbox.confirm(\"删除后不可恢复，是否确认？\",function(b){if(b){$(\"#"+frmid+"\").submit();}});'><i class='fa fa-remove text-red'></i></button></form>"}
	}
]);
$(function () {
	$('#example1').DataTable(data );
})
</script>
</footerScript>
</th:block>